* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 90%;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
  height: 100%;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgb(56, 56, 56);
  padding: 20px 0;
  color: #ffffff;
  text-decoration: none;

  color: #bbbbbb;
}

.footer-col {
  display: flex;
  justify-content: center;
  width: 33.3%;
  text-align: left;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 5px;
}

.footer-col ul li a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  padding-left: 10px;
  font-weight: bold;
  font-family: Montserrat, sans-serif;
  font-size: 0.9rem;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 15px;
}

img {
  margin-bottom: 30px;
}

#link a {
  color: #bbbbbb;
}

@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    text-align: left;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .footer-col {
    width: 100%;
  }
}
