.sliderBox {
    background: white;
    margin-top: 1rem;
    height: 9rem;
    border-radius: 0.625rem;
    display: flex;
    align-items: center;
    padding: 20px 20px 20px 30px;
}
.sliderBox .sliderForm {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
}
.sliderBox .sliderForm input {
    height: 100%;
    width: 100%;
}